*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block; /* to prevent the wthite space below images*/
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

main {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: rgb(248, 252, 230);
}

.home-card-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.home-card-image-container {
  min-width: 8rem;
  position: relative;
}
.home-card-image-container img {
  height: auto;
  width: 100%;
}
.home-card-image-container p {
  color: rgb(255, 238, 0);
  position: absolute;
  left: 0.7rem;
  bottom: 1rem;
}

.home-card-text-container {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
}
.home-card-text-container p {
  padding: 0.2rem;
}

.skills-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}

.core-skills-container,
.programming-langs-container,
.frameworks-container,
.languages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}
#languages-container {
  border-bottom: none;
}

/******************/
.skill {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}
.skill p {
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.progress-bar {
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  overflow: hidden;
  height: 1.2rem;
  width: 100%;
}
.progress-fill {
  background-color: #009688;
  color: white;
  text-align: center;
  line-height: 20px;
  height: 100%;
  border-radius: 20px;
}
/*******************/

.core-skills-container h2,
.programming-langs-container h2,
.frameworks-container h2,
.languages-container h2 {
  color: rgb(0, 0, 0);
  font-weight: 650;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  padding-top: 0.5rem;
}

/******* Porfolio Styling******/

.portfolio-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  gap: 1rem;
}
.portfolio-container h2 {
  color: rgb(0, 0, 0);
  text-align: left;
}
.portfolio-container h3 {
  color: rgb(0, 0, 0);
  padding: 2rem 0 1rem 0.5rem;
}

.portfolio-group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
a {
  text-decoration: none;
}

.portfolio-card {
  border: 2px solid rgb(255, 0, 0);
  border-radius: 8px;

  min-width: 200px;
  width: 250px;
  height: 400px;
  position: relative;
  background-color: rgb(255, 255, 255);
}
.portfolio-card:hover {
  border: 3px solid rgb(51, 255, 0);
  cursor: pointer;
}

.portfolio-image-container {
  position: relative;
}

.portfolio-image-container img {
  width: 100%;
  height: auto;
}
.portfolio-image-container h4 {
  padding-block: 0.5rem;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 0.7rem;
  bottom: 0.5rem;
}

.portfolio-text-container {
  padding-inline: 1.1rem;
}

.portfolio-text-container p {
  color: purple;
  padding-block: 1rem 0.5rem;
}

.portfolio-text-container button {
  background-color: yellow;
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px 5px;
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.portfolio-text-container button:hover {
  background-color: rgb(0, 255, 98);
  border: 1px solid rgb(68, 0, 255);
  cursor: pointer;
}
